@tailwind base;
@tailwind components;
@tailwind utilities;

.SearchBar {
  @apply outline-none px-4 py-1 rounded-full text-base shadow-sm transition duration-300 focus-within:shadow-sm focus:ring-2 focus:w-11/12 lg:hidden;
}

.Button {
 @apply w-28 rounded-full bg-white text-lg text-primary font-semibold px-4 py-2 shadow-sm transition duration-500 ease-in-out hover:bg-primary hover:text-white transform hover:-translate-y-1 lg:ml-16; 
}

.NavBar {
  @apply w-full h-12 fixed top-0 z-20 left-0 hidden bg-white lg:flex items-center justify-between dark:bg-gray-800;
  div:nth-child(1) {
    @apply w-auto h-auto pl-4;
    p {
      @apply text-xl text-primary font-black dark:text-white;
    }
  }
  div:nth-child(2) {
    @apply flex space-x-8;
    a {
      @apply font-bold text-base text-primary hover:underline dark:text-white;
    }
  }
  div:nth-child(3) {
    @apply flex space-x-4 pr-4;
  }
}

.Hero {
  @apply w-full h-auto flex flex-col absolute space-y-96 py-4 items-center lg:space-y-0 lg:justify-start lg:items-start lg:pt-48;
}

.Section-title {
  @apply text-3xl font-bold text-primary dark:text-white;
}

.Carroussel {
  @apply w-auto h-72 flex items-center mt-6 overflow-x-auto overscroll-x-contain space-x-6;
}

.Featured {
  @apply w-full h-full flex flex-col items-center justify-center space-y-4 md:flex-row md:flex-wrap lg:grid lg:grid-cols-5 lg:grid-rows-3 lg:gap-4 lg:space-y-0;
}

.Card {
  @apply w-48 h-64 shadow-md rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl;
  
  div:nth-child(1) {
    @apply w-full h-3/5 rounded-t-lg bg-cover;
  }
  
  div:nth-child(2) {
    @apply w-full h-2/5 rounded-b-lg p-4 bg-secondary dark:bg-gray-700;
    p:nth-child(1) {
      @apply text-white font-bold text-lg;
    }
    p:nth-child(2) {
      @apply text-white text-sm;
    }
  }
  
  &:nth-child(even) {
    div:nth-child(2) {
      @apply bg-white dark:bg-gray-500;
      p {
        @apply text-terciary dark:text-white;
      }
    }
  }
}

.Card__featured {
  @apply w-full h-96 bg-chicago bg-cover rounded-xl md:w-3/5 lg:w-full lg:bg-center lg:col-span-3;
  &:nth-child(1) {
    @apply md:w-full lg:col-span-5;
  }
  &:nth-child(2) {
    @apply lg:col-span-2 lg:row-span-2 lg:h-full lg:w-full;
  }
  p:nth-child(1) {
    @apply text-3xl px-8 pt-8 pb-2 rounded-lg flex-none font-bold text-white lg:text-5xl lg:pt-24 lg:pb-6 dark:drop-shadow;
  }

  p:nth-child(2) {
    @apply text-sm pl-8 text-white mr-24 font-semibold lg:text-lg dark:drop-shadow;
  }  
}

.FAQ {
  @apply flex flex-col py-6;
  
  p:nth-child(1) {
    @apply text-xl font-bold text-primary dark:text-white;
  }

  p:nth-child(2) {
    @apply text-base dark:text-white;
  }
}

.About {
  @apply space-y-2 font-semibold mb-16 md:mb-4;
  p {
    @apply text-sm text-gray-400;
  }
  p:nth-child(1) {
    @apply text-base text-gray-500;
  }
}

.TabBar {
  @apply w-full h-16 bg-gray-300 fixed left-0 bottom-0 shadow-md flex justify-evenly items-center lg:hidden dark:bg-gray-700;
}